body,h1,h2,h3,h4,h5 {
    font-family: "Raleway", sans-serif
}

.axis {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }